{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <title>JyobiMart</title>
</head>
<body>
  <form action="{% url 'account:user_login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ログイン</button>
  </form>
</body>
</html>
